body {
    background-image: url("../images/map.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
    background-attachment: fixed;
    overflow: hidden;
    margin: 0;
}

.header {
    position: fixed;
    top: 0;
    right: 0;
    background-color: #f1f1f1;
    padding: 10px;
    z-index: 1000;
}

.gallery {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-left: 10%;
}


.text {
    font-size: larger;
    font-weight: bolder;
    color: rgba(255, 255, 255, 0.8);
    background-color: rgba(101, 67, 33, 0.5);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 100%;
    text-align: center;
    padding-top: 10px;
    font-style: italic;
}

.thumbnails {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    max-height: 100%;
    overflow-y: auto;
}

.thumbnail {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.thumbnail:hover {
    zoom: 3;
}

.caption {
    color: rgba(255, 255, 255, 0.8);
    background-color: rgba(101, 67, 33, 0.5);
    font-size: 20px;
    text-align: center;
}

.nav_ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 10%;
    background-color: #e1d0b7;
    position: fixed;
    height: 100%;
    overflow: auto;
}

.nav_ul_a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

.nav_ul_a.active {
    background-color: #04AA6D;
    color: white;
}

.nav_ul_a:hover:not(.active) {
    background-color: #555;
    color: white;
}